N8N_FisioChat_APP.json
{
  "createdAt": "2024-12-25T05:55:51.668Z",
  "updatedAt": "2025-05-05T01:34:34.747Z",
  "id": "xH2S56sNcKO6AQMD",
  "name": "WHATSAPP + n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "set",
        "key": "=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "value": "={{ $now.plus($('ALTERE ISSO').item.json.TIMEOUT*1000).toISO() }}"
      },
      "name": "STORE TIMEOUT",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1240,
        260
      ],
      "id": "9e0bed45-7c95-4270-bc69-c6f8351d3bea",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3dddbb1-4215-4028-b767-7b445e1a9cf7",
      "name": "SET DEFAULT MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "=Menção: {{ $('Webhook').item.json.body.data.contextInfo.quotedMessage.conversation }}\nResposta:{{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "10602b9d-e95c-4f80-992a-7802fff46a14",
      "name": "SET REPLIED MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "={{ $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.conversation+'*' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "71692831-99fd-4770-bfe6-5343353b60bd",
      "name": "SET EDITED MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        580
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "MESSAGE",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1820,
        740
      ],
      "id": "8a4c7b57-12ec-48e9-a7d7-fe356c91c063",
      "name": "CONVERT TO MP3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "=Transcrição do Áudio enviado pelo usuário: {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "568e3bec-19c7-4397-a525-ffd80a07c1f9",
      "name": "SET AUDIO MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        740
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "MESSAGE",
        "options": {
          "fileName": "={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}.webp",
          "mimeType": "image/webp"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1820,
        900
      ],
      "id": "ae87eea1-31ce-4471-a533-031bdf6dbb27",
      "name": "CONVERT TO JPG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d21ce02e-8926-4dc4-b382-b15ed69f266f",
      "name": "SET AUDIO BASE64",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "00321e27-a7ab-4dc7-a3f2-ce5fd1bf9e15",
      "name": "SET IMAGE BASE64",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "=Transcrição do Áudio enviado pelo usuário: {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b310d197-bec1-40fc-8915-0da68a03ca8d",
      "name": "SET IMAGE MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        900
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Messages.{{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageData": "={{ $json.MESSAGE }}",
        "tail": true
      },
      "name": "STORE MESSAGE",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2880,
        240
      ],
      "id": "cfe6cbab-ff9c-4cdf-a7ec-02d3b51d9b64",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=Messages.{{ $('Webhook').item.json.body.data.key.remoteJid }}"
      },
      "name": "RETRIEVE LAST MESSAGES",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3080,
        240
      ],
      "id": "eb43fac3-eac1-43a9-b6e4-c4782ba6d7a6",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3520,
        240
      ],
      "id": "aeb91b02-7840-44a0-9051-da742be4678e",
      "name": "GET TIMEOUT",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('ALTERE ISSO').item.json.TIMEOUT }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3300,
        240
      ],
      "id": "a5831909-4a0b-4c7c-a1e5-161e7190f130",
      "name": "TIMEOUT",
      "webhookId": "43deaaad-faa9-4ade-a67b-62ccd56e4e54"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2539a6bb-4bc5-419b-85d6-a2a456b14cca",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.values()[0].toDateTime() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3720,
        240
      ],
      "id": "c4cc154e-02ad-44c9-9b68-fae0f29b0987",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d29f1b4-c344-41a3-87de-2e572d101d74",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        260
      ],
      "id": "cb0c3cd4-a3fc-49f5-9848-46b33cd172fe",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "value": "={{ $now.plus($('ALTERE ISSO').item.json[\"FROM-ME-WINDOW\"]*60*1000).toISO() }}"
      },
      "name": "STOP AND SET TIMEOUT",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        300,
        120
      ],
      "id": "b0c0c2c9-9795-4964-9774-f78915d6d9ff",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        300,
        280
      ],
      "id": "57ba83c3-1c49-482b-ad06-d6c5c5cdf9f3",
      "name": "GET TIMEOUT1",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c24b57c-246d-4815-97d8-b0c9d7a335ad",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.values()[0]?.toDateTime() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        360
      ],
      "id": "c71748ad-6727-4612-b3a4-7b348dab0ba0",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3b6ff31-61cb-40c2-92d3-7f3f6ea2b4b4",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        280
      ],
      "id": "d6b65676-4361-4229-9be3-eab76f1a9ef2",
      "name": "If3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4a826df4-1f5a-4c29-97eb-0879c751c681",
        "options": {}
      },
      "id": "7271adc3-bad3-4474-93aa-23d46bf81994",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        260
      ],
      "webhookId": "4a826df4-1f5a-4c29-97eb-0879c751c681"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "53dcfd69-189f-436a-8030-0ac76fff9e66",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4220,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "cQa2Nul0fPM2CCvw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "86e7e773-8586-458f-a1fb-2890f2030230",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7f108034-a1be-4e90-b42e-e4f8a719e311",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "editedMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edited"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "256e7cf8-be54-4c41-ba80-2d9eb0a07563",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "da03e413-3422-419c-af1a-71ff87c307e2",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "08872854-ff73-47d8-9a87-21995cffcbd5",
      "name": "Tipo da Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1460,
        260
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Descreva essa imagem",
        "inputType": "base64",
        "options": {}
      },
      "id": "b583ddf4-f24e-49a9-a240-bf4129153d95",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2040,
        900
      ],
      "credentials": {
        "openAiApi": {
          "id": "cQa2Nul0fPM2CCvw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "cef7b67f-e723-4a08-ac11-b80aed4975ed",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2040,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "cQa2Nul0fPM2CCvw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "50e74106-ac06-4a00-a8d9-c7bacf20f435",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5460,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e6e7a4b5-c639-4513-b8fb-bc8dba581e14",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5680,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('ALTERE ISSO').item.json['EVOLUTION-API-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "delay",
              "value": "={{ $json.messages.length * $('ALTERE ISSO').item.json['TIME-PER-CHAR']}}"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "text",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "textMessage",
              "value": "={{ {text: $json.messages} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "137592b4-237e-4275-972f-ae297761a9b6",
      "name": "SEND TEXT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6440,
        640
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('ALTERE ISSO').item.json['EVOLUTION-API-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"image\",\n  \"media\": \"{{ $json.messages.match(/https:\\/\\/[^\\s]+?\\.(jpeg|jpg|png|webp)/)[0] }}\"\n}",
        "options": {}
      },
      "id": "f7125b89-7d89-42d5-bbe8-bf8b56cff27a",
      "name": "SEND IMAGE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6440,
        360
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('ALTERE ISSO').item.json['EVOLUTION-API-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"video\",\n  \"media\": \"{{ $json.messages.match(/https:\\/\\/[^\\s]+?\\.(wmv|mp4|mov|mkv)/)[0] }}\"\n}",
        "options": {}
      },
      "id": "95e26168-56f4-4205-a84e-4dd83fad2950",
      "name": "SEND VIDEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6440,
        500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bd6c6ac4-8ebd-4d14-9935-1fd270106c48",
                    "leftValue": "={{ $json.messages.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) !== null }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8a8907db-2f29-4fc3-a50d-264a2c5d015e",
                    "leftValue": "={{ $json.messages.match(/https:\\/\\/.*\\.(wmv|mp4|mov|mkv)/g) !== null}}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages.toBoolean() && $json.messages.isEmpty() == false && $json.messages.replace(/\\s+/g, '').isUrl() == false && $json.messages !== '\\n\\n'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1e39b36c-7f91-46d0-a550-9bcaf6f6aa1e",
                    "leftValue": "={{ $json.messages }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vazio"
            }
          ]
        },
        "options": {}
      },
      "id": "82039d90-4731-4dc4-9f85-997d6fd01b63",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        5960,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c49a9be-f027-4ca6-8a8c-856fa46ee664",
              "name": "TIMEOUT",
              "value": 4,
              "type": "number"
            },
            {
              "id": "24d3b8c3-c8c4-4bee-9876-db1f82cb5dfb",
              "name": "EVOLUTION-API-KEY",
              "value": "8ED796C74E34-420A-B66B-05E18F7A854E",
              "type": "string"
            },
            {
              "id": "2925f61f-175c-4f67-b38f-581d23cd5684",
              "name": "FROM-ME-WINDOW",
              "value": 90,
              "type": "number"
            },
            {
              "id": "4c777567-176a-4a87-98cf-5e883a37270d",
              "name": "TIME-PER-CHAR",
              "value": 15,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        260
      ],
      "id": "8df8f643-1e70-41fe-aaa4-a4dac3fd1f39",
      "name": "ALTERE ISSO"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=Messages.{{ $('Webhook').first().json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6440,
        180
      ],
      "id": "78cb0a1d-0e70-47f4-b4a6-d97e374c95f4",
      "name": "DELETE HISTORY",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6260,
        180
      ],
      "id": "89f5529b-fab3-4d85-bc13-685cdb5883fc",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39040a95-bd85-497e-b531-014af083fed8",
              "name": "messages",
              "value": "={{ $json.output.split(\"\\n\\n\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "09d51f20-5bfe-4466-89db-5c69f0502ef8",
      "name": "TEXT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5180,
        220
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=Messages.{{ $json?.id || 'teste' }}.{{ $('Webhook').item.json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        4440,
        520
      ],
      "id": "d32f031f-7656-4e36-babc-4b942f71fc42",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "L4TppiL5e4Ue1opW",
          "name": "Redis Interno"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('RETRIEVE LAST MESSAGES').item.json.values().flat().join(`\n`) }}",
        "options": {
          "systemMessage": "=You are a helpful assistant"
        }
      },
      "id": "55c79229-75c8-4cc5-b667-1928381fa285",
      "name": "Agendar",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4380,
        220
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4780,
        360
      ],
      "id": "32cb99a3-a369-4824-93cb-672bdf3802da",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EuXgzr1TZsUZG7SF",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        4580,
        520
      ],
      "id": "2c3b4072-d691-4cd0-888d-f4a910ae179c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pZPKM3RVIEBoYG8x",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "connections": {
    "STORE TIMEOUT": {
      "main": [
        [
          {
            "node": "Tipo da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET DEFAULT MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET REPLIED MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET EDITED MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERT TO MP3": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET AUDIO MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERT TO JPG": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET AUDIO BASE64": {
      "main": [
        [
          {
            "node": "CONVERT TO MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET IMAGE BASE64": {
      "main": [
        [
          {
            "node": "CONVERT TO JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET IMAGE MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORE MESSAGE": {
      "main": [
        [
          {
            "node": "RETRIEVE LAST MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETRIEVE LAST MESSAGES": {
      "main": [
        [
          {
            "node": "TIMEOUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TIMEOUT": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TIMEOUT": {
      "main": [
        [
          {
            "node": "GET TIMEOUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "STOP AND SET TIMEOUT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET TIMEOUT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STOP AND SET TIMEOUT": {
      "main": [
        []
      ]
    },
    "GET TIMEOUT1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "STORE TIMEOUT",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "STORE TIMEOUT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ALTERE ISSO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da Mensagem": {
      "main": [
        [
          {
            "node": "SET DEFAULT MESSAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET REPLIED MESSAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET EDITED MESSAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET AUDIO BASE64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET IMAGE BASE64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "SET IMAGE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "SET AUDIO MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND TEXT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND IMAGE": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND VIDEO": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SEND IMAGE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND VIDEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND TEXT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALTERE ISSO": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "DELETE HISTORY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agendar",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "main": [
        [
          {
            "node": "TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "85379e8b-8ca5-4511-93de-53e7d88ea5bc",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-12-31T22:46:06.635Z",
      "updatedAt": "2024-12-31T22:46:06.635Z",
      "id": "l0OJIDcCHFPg4KUu",
      "name": "LOGIC"
    }
  ]
}
