N8N_FisioChat_APP.json
{
  "name": "FisioChat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        656,
        -544
      ],
      "id": "f6784fec-f412-4ddb-b1f5-df857a93d660",
      "name": "Webhook",
      "webhookId": "66e274ea-edd0-4a67-b858-429e9e4efd1b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a347fdeb-6f39-4442-a37d-79c72e7e3ef0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1072,
        -544
      ],
      "id": "be3b743a-00ea-4937-80df-311d058cafe6",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é um assistente para a montagem de exercicios para fisioterapeutas, com diversas opções e explicações sobre o que aquele exercicio afeta no corpo, não deve responder perguntas não relacionadas a esse tema, e deve se apresentar como FisioChat\nUse o Vector store (tool: rag_chatbot) para responder. Se não tiver informações sobre o assunto não gere uma resposta com dados da IA e retorne a fonte da informação no final que sera o titulo do arquivo PDF salvo no Vector store somente quando fizer a geração dos exercicios"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1280,
        -544
      ],
      "id": "c3f160df-a893-4d2a-bcaf-9faacd8b7838",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        -336
      ],
      "id": "3a859bbc-3d30-4593-b93f-fb30cbeadc10",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wiI7UPeXliFnelGy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados de Entrada').item.json.session }}",
        "chatId": "={{ $('Dados de Entrada').item.json.chatId }}",
        "messageId": "={{ $('Dados de Entrada').item.json.payloadId }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1600,
        -544
      ],
      "id": "77bae08d-8739-479c-a5a2-34dcd25931c4",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "YbUnjyKAzGm2lGs6",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados de Entrada').item.json.session }}",
        "chatId": "={{ $('Dados de Entrada').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1792,
        -544
      ],
      "id": "02a6c5f7-1319-4767-9e36-82f85420c2c3",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "YbUnjyKAzGm2lGs6",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c284097-f7c7-4c02-8cac-efa5816d727e",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "9601fa0f-9cb1-4ebc-85e7-7798cfe7579d",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "0ce02984-4476-469b-a409-ac6cac64e918",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "0d70bd94-170f-4b95-944a-57d4947f8e32",
              "name": "payloadId",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "82ba5bff-5a2d-437e-9f2d-4ff520bcdac3",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "a86a3000-a996-41bc-923c-b3a1dfe6a84f",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "569f900a-06aa-445d-87a1-f111896ffe33",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -544
      ],
      "id": "618c9a83-e472-467c-957a-608ff7328d8e",
      "name": "Dados de Entrada"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados de Entrada').item.json.chatId }}",
        "sessionTTL": 36000,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1296,
        -336
      ],
      "id": "28a5f21a-b0ec-4de9-b29d-1d4af4297e16",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "DM5D59yvnKk5Smda",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utilize essa ferramenta como base de conhecimento ",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_chatbot",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1424,
        -336
      ],
      "id": "b6da54b6-e4d3-41b4-8616-1939b32d83e2",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "PxhHoJxoIA8AOZoH",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Adicionar documentos para o Banco de Dados",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Adicionar arquivo PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        -560
      ],
      "id": "827465f0-a43f-4811-9424-f21c2ee293ce",
      "name": "On form submission",
      "webhookId": "a7b4921b-da1b-416b-84fc-8d19d1b3d413"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_chatbot",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        -560
      ],
      "id": "0da926f7-6448-44ab-b1fb-034e7274cb1d",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "PxhHoJxoIA8AOZoH",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        144,
        -368
      ],
      "id": "b0fb6731-fc56-4304-a265-23309f7ca711",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "H0lV6NyxWUX3nGAY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json['Adicionar arquivo PDF'][0].filename.replace(\".pdf\", \"\").replace(/_/g, \" \") }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        -368
      ],
      "id": "2e1a0458-5122-4122-ae79-6f6064b5e612",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        304,
        -208
      ],
      "id": "6d2d1d0e-884e-4d0c-8f70-101929af1605",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Adição dos PDF\n",
        "height": 592,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -640
      ],
      "typeVersion": 1,
      "id": "f3ddf680-c6d6-4d21-9506-f3cf5ddd4a6e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1424,
        -176
      ],
      "id": "64423a4e-1fb7-4ef6-b4f7-e0afa98ec372",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "H0lV6NyxWUX3nGAY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ferramenta de IA para geração de exercícios",
        "height": 592,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -640
      ],
      "typeVersion": 1,
      "id": "7113c387-8282-4cc7-b647-640332dbdf15",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dados de Entrada": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65af7120-4acc-4d69-a55d-102c803bc1d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "CiqcMxSPNHtUW1Ot",
  "tags": []
}
